body {
  background-color: #fdd6f8;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #a351f0;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 25px;
}

.instructions {
  padding: 12px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 75%;
  font-size: 14px;
  border-radius: 40px;
  line-height: 15px;
  color: #f31bd6;
}

.submit-button {
  margin-left: 10px;
  background-color: #fdd6f8;
  color: black;
  width: 100px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #febaf5;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.04);
  border-radius: 8px;
}

.poem strong {
  color: purple;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
