body {
  background-color: #fdd6f8;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #a351f0;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

.form-container {
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}

form {
  display: flex;
}

.instructions {
  padding: 15px;
  border: 2px solid rgba(39, 17, 137, 0.5);
  width: 75%;
  font-size: 14px;
  border-radius: 40px;
  line-height: 15px;
  color: #0b080a;
}

.submit-button {
  margin-left: 10px;
  background: #dc92d5;
  color: black;
  width: 100px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #febaf5;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.04);
}

.poem strong {
  color: purple;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
